# Ignore everything
/*
/*/

# But not these files...
!.gitignore
!/wp-content/
!/wp-content/*
!/wp-content/*/*
!/wp-content/*/*/*
!/wp-content/*/*/*/*
!/wp-content/*/*/*/*/*
!/wp-content/*/*/*/*/*/*
!/wp-content/*/*/*/*/*/*/*