/*

SASS_STYLE.SCSS CONTENTS

This file is set up for mobile-first coding. See below for file structure:

- Variables and mixins
- General
    This is where global styles go, as well as styles that apply to content
- Header
- Main Menu
- Footer
- Interior Pages
    - Sidebar
    - Pagination
- Home
- Media Queries
    - Tablet Portrait (768px); corresponds with Bootstrap 'sm'
    - Tablet Landscape (992px); corresponds with Bootstrap 'md'
    - Desktop (1200px); corresponds with Bootstrap 'lg'

*/
/* general ***********************************/
/* header ************************************/
/* main menu *********************************/
/* footer ************************************/
/* interior pages / sidebar / pagination *****/
/* home **************************************/


/*
    = Variables and mixins  
*******************************************************************************************/

//fonts
$font-stack: sans-serif;
$body-font: $font-stack;
$header-font:  sans-serif; 
$bold: normal normal bold;
$regular: normal normal normal;
$bold-italic: italic normal bold;

//colors
$darkgrey: #333;
$mediumgrey: #5c5c5c;
$mediumlightgrey: #999;
$lightgrey: #e5e5e5;



/* general
*******************************************************************************************/


/* header
*******************************************************************************************/


/* main menu
*******************************************************************************************/


/* home 
*******************************************************************************************/


/* interior pages / sidebar / pagination 
*******************************************************************************************/


/* footer
*******************************************************************************************/





/* Media Queries 
*******************************************************************************************/
@media (min-width: 768px) {  /* Tablet Portrait */


} //end of 768px


/************************************************************************/
@media (min-width: 992px) { /* Desktop */

     
} //end of 992px


/************************************************************************/
@media (min-width:1200px) { /* Large desktop */ 

} //end of 1200px
